@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300&display=swap'); /*for oops*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;608&family=Roboto+Mono:wght@100;300&display=swap'); /*for dnharshit*/


body {
    background: linear-gradient(45deg, #000000, #050023, #7B3E42, #000000,  #252525, #000000, #7B3E42, #070031);
    background-size: 1000%;
    color: white;
    animation: gradient-animation 30s infinite alternate;
    /* animation-delay: 5s; */
}

@keyframes gradient-animation {
    0% {background-position: left;}
    100% {background-position: right;}
}

a {
    text-decoration: none;
    color: white;
}

.logo a:hover {
    transition-duration: 0.5s;
    color: #d4af37;
}

.nav li a:hover {
    transition-duration: 0.5s;
    color: rgb(9, 196, 196);
}

.logo {
    font-family: 'Comfortaa', cursive;
    font-size: 1.1em;
    letter-spacing: 3px;
    color: white;
    margin: 1vw;
    padding: 1vw;
}


.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.nav {
    display: flex;
    justify-content: space-between;
}

.nav li {
    font-family: 'Comfortaa', cursive;
    font-size: 0.9em;
    font-weight: 600;
    margin: 1vw;
    padding: 1vw;
    display: inline-block;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

@media screen and (max-width: 765px) {
    .header {
      flex-direction: column;
      justify-content: space-between;
    }

    div.fun {
        font-size: 7vw;
    }

    div.funi {
        font-size: 5vw;
    }

  }

  @media screen and (max-width: 480px) {
    .header {
      flex-direction: column;
    }

    div.fun {
        font-size: 7vw;
    }

    div.funi {
        font-size: 5.2vw;
        margin-top: 15px;
    }

    .logo {
        font-size: 4vw;
    }

    .nav {
        font-size: 3.5vw;
    }

  }

.fun {
    font-family: 'Roboto Mono', monospace;
    font-size: 70px;
    margin: 10vw 1vw 1vw 1vw;
    padding: 1vw;

}

span.witty1, span.witty2 {
    display: inline-block;
}

.funi {
    margin-top: 30px;
    font-size: 35px;
}

